{
  "parser"  : "babel-eslint",
  "extends": ["eslint:recommended"],
  "env"     : {
    "browser" : true, # window
    "node": true # require
  },
  "rules": {
    "strict": 0,
    "no-console": 0,
    "quotes": [2, "single"],
    "eqeqeq": 0
  }
}
