.hero-unit {
  margin: 2vh;
  padding: 2em;
  background-color: mistyrose;
  height: 96vh;
  font-family: 'Amatic SC', cursive;

  h1 {
    font-size: 5em;
    line-height: 1em;
  }

  p {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
